---
---

<center>Welcome to my webpage!</center>

<!-- <div class="mx-auto flex flex-col items-center content-center">
    <h2>Quantum Theory of Resonances</h2>
    <div class="resize-y overflow-auto">
        <object data="/public/group/ptacek/resonances-2022.pdf" type="application/pdf" width="800px" height="500px">
            <embed src="/public/group/ptacek/resonances-2022.pdf">
                <p>This browser does not support PDFs. Please download the PDF to view it: <a href="/public/group/ptacek/resonances-2022.pdf">Download PDF</a>.</p>
            </embed>
        </object>
    </div>
</div> -->