---
import { type CollectionEntry, getCollection } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import TitlePageLayout from "@/layouts/TitlePageBase.astro";
import { Image } from 'astro:assets';
import profilePhoto from "@/assets/profile_photos/pavel-maly-400.jpg";

---
<TitlePageLayout meta={{ title: "Malý" }}>
	<section class="md:max-w-xl mx-auto relative flex items-center justify-center h-svh md:h-[calc(100svh-80px)] pt-[80px] md:pt-0">
		<div class="w-full text-center">
            <div class="flex justify-center space-x-4 mb-8">
                <Image src={profilePhoto} alt="profile-photo" height="200" width="200" class="imgcircle"/>
            </div>
			<span class="title text-3xl bg-gradient-to-r from-accent-two/85 via-accent-one/85 to-accent-two/85 dark:from-accent-two dark:via-accent-one dark:to-accent-two bg-clip-text text-transparent">
				Pavel Malý
			</span>
			<p class="mt-4 mb-4 text-lg font-medium">
				Welcome to my personal site!
			</p>
			<div class="flex flex-wrap justify-center space-x-4 space-y-2 mt-4">
				<a href="/maly/about/" class="flex items-center justify-center min-h-10 px-4 rounded-lg shadow-lg bg-special-lighter hover:brightness-110 hover:bg-special-lightest">
					<span class="bg-clip-text text-transparent font-semibold bg-gradient-to-r from-accent-one to-accent-two">
						About Me
					</span>
				</a>

				<a href="/maly/research/" class="flex items-center justify-center min-h-10 px-4 rounded-lg shadow-lg bg-special-lighter hover:brightness-110 hover:bg-special-lightest">
					<span class="bg-clip-text text-transparent font-semibold bg-gradient-to-r from-accent-one to-accent-two">
						Research Interests
					</span>
				</a>

				<a href="/maly/publications/" class="flex items-center justify-center min-h-10 px-4 rounded-lg shadow-lg bg-special-lighter hover:brightness-110 hover:bg-special-lightest">
					<span class="bg-clip-text text-transparent font-semibold bg-gradient-to-r from-accent-one to-accent-two">
						Publications
					</span>
				</a>
				<a href="/maly/teaching/" class="flex items-center justify-center min-h-10 px-4 rounded-lg shadow-lg bg-special-lighter hover:brightness-110 hover:bg-special-lightest">
					<span class="bg-clip-text text-transparent font-semibold bg-gradient-to-r from-accent-one to-accent-two">
						Teaching
					</span>
				</a>

				<!-- <a href="/maly/outreach/" class="relative flex items-center justify-center h-8 px-4 rounded-lg shadow-lg bg-special-lighter hover:brightness-110 hover:bg-special-lightest">
					<span class="bg-clip-text text-transparent font-semibold bg-gradient-to-r from-accent-one to-accent-two">
						Outreach
					</span>
				</a> -->
			</div>
		</div>
	</section>
</TitlePageLayout>