---
import TitlePageLayout from "@/layouts/TitlePageBase.astro";
import { Image } from 'astro:assets';
import profilePhoto from "@/assets/profile_photos/tomas-mancal-source.jpg";
import Tiles from "@/components/Tiles.astro";

const sites = {"About Me": "/mancal/about/",
			   "Research Interests": "/about/",
			   "Publications": "/mancal/publications/",
			   "Teaching": "/mancal/teaching/",
			   "Outreach": "/mancal/outreach/"};

---
<TitlePageLayout meta={{ title: "Mančal" }}>
	<section class="md:max-w-xl mx-auto relative flex items-center justify-center h-svh md:h-[calc(100vh-216px)] pt-[80px] md:pt-0">
		<div class="w-full text-center">
            <div class="flex justify-center space-x-4 mb-8">
                <Image src={profilePhoto} alt="profile-photo" height="200" width="200" class="imgcircle"/>
            </div>
			<span class="title text-3xl bg-gradient-to-r from-accent-two/85 via-accent-one/85 to-accent-two/85 dark:from-accent-two dark:via-accent-one dark:to-accent-two bg-clip-text text-transparent">
				Tomáš Mančal
			</span>
			<p class="mt-4 mb-4 text-lg font-medium">
				Welcome to my personal site!
			</p>
			<Tiles sites={sites} />
		</div>
	</section>
</TitlePageLayout>