---
import { menuLinks, siteConfig } from "@/site.config";
import { Image } from "astro:assets";
import ImageInv from "../images/ImageInv.astro";
import logoMffCuni from "@/assets/images/logo-mff-cuni-eng-300.png";

const year = new Date().getFullYear();
---

<footer
	class="semibold mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-8 text-center align-top text-accent text-sm sm:flex-row sm:justify-between sm:text-sm"
>	<div class="justify-center sm:justify-start">
		<div class="justify-center sm:justify-left mb-1">
			<a href="https://www.mff.cuni.cz/cs/fuuk/oddeleni-teoreticke/vitejte" class="hover:text-accent hover:underline">
				Theoretical division
			</a>|
			<a href="https://www.mff.cuni.cz/cs/fakulta/organizacni-struktura/katedra?code=102" class="hover:text-accent hover:underline">
				Institute of Physics
			</a>
		</div>
		<div class="justify-center me-0 font-semibold sm:me-4">
			&copy; {siteConfig.author} {year}
		</div>
	</div>
	<div class="justify-center sm:justify-end">
		<a href="https://www.mff.cuni.cz/">
			<ImageInv src={logoMffCuni} alt="logo-mff" height="150" width="300"/>
		</a>
	</div>
</footer>
