---
import Research from "@/components/Research.astro";
import TitlePageLayout from "@/layouts/TitlePageBase.astro";

const meta = {
    description: "About our research",
    title: "About",
};

---

<TitlePageLayout meta={{ title: "About Research" }}>
    <section class="md:max-w-2xl mx-auto relative" id="research-section">
        <div class="w-full text-center mt-[calc(30svh-80px-120px)] transition-all duration-300" id="content-wrapper">
            <Research />
        </div>
    </section>
</TitlePageLayout>