---
import TitlePageLayout from "@/layouts/TitlePageBase.astro";
import { Image } from 'astro:assets';
import buildingPhoto from "@/assets/images/building-1.png";
---

<TitlePageLayout meta={{ title: "Contacts" }}>
    <div class="flex mb-8 justify-center">
        <Image src={buildingPhoto} alt="Building-photo" height="400" width="600"/>
    </div>
    <div class="grid grid-cols-2 justify-center gap-3">
        <div class="mx-4 text-right">
            <i>Address: </i>
        </div> 
        <div>
            Institute of Physics, Theoretical Division<br>
            Faculty of Mathematics and Physics<br>
            Charles University<br>
            Ke Karlovu 2026/5<br>
            CZ-121 16 Prague 2<br>
            Czech Republic
        </div>
        <div class="mx-4 text-right">
            <i>T: </i>
        </div> 
        <div>
            +420 951 551 337 (Mančal)<br>
            +420 951 551 316 (Malý)
        </div>
        <div class="mx-4 text-right">
            <i>F: </i>
        </div> 
        <div>
            +420 951 552 797 (Mančal)<br>
            +420 224 922 797 (Malý)
        </div>
        <div class="mx-4 text-right">
            <i>@: </i>
        </div> 
        <div>
            tomas.mancal@matfyz.cuni.cz<br>
            pavel.maly@matfyz.cuni.cz
        </div>
    </div>
</TitlePageLayout>