---
import TitlePageLayout from "@/layouts/TitlePageBase.astro";
import { Image } from 'astro:assets';
import buildingPhoto from "@/assets/images/building-1.png";
import { Icon } from "astro-icon/components";
import ImageInv from "@/components/images/ImageInv.astro";
import Email from "@/components/Email.astro";

const contacts: {type:string; icon:any, data:string;}[] = [
    {
        type:"address",
        icon:"",
        data:"",
    },
    {
        type:"fax",
        icon:"",
        data:"",
    },
    {
        type:"e-mail",
        icon:"",
        data:"",
    },
    {
        type:"phone",
        icon:"hugeicons:call",
        data:"+420 951 551 337 (Mančal)<br> +420 951 551 316 (Malý)",
    }
];
---

<TitlePageLayout meta={{ title: "Contacts" }}>
    <div class="flex mb-8 justify-center">
        <Image src={buildingPhoto} alt="Building-photo" height="400" width="600"/>
    </div>

    <div class="contacts-col">
        <div class="contacts-row">
            <div class="contacts-row-left">
                <Icon
                    class="h-5 w-5 translate-y-1/4"
                    focusable="false"
                    name="hugeicons:mail-01"
                />
            </div>
            <div class="contacts-row-right">
                Institute of Physics, Theoretical Division<br>
                Faculty of Mathematics and Physics<br>
                Charles University<br>
                Ke Karlovu 2026/5<br>
                CZ-121 16 Prague 2<br>
                Czech Republic
            </div>
        </div>
        <div class="contacts-row">
            <div class="contacts-row-left">
                <Icon
                    class="h-5 w-5 translate-y-1/4"
                    focusable="false"
                    name="hugeicons:call"
                />
            </div>
            <div class="contacts-row-right">
                +420 951 551 337 (Mančal)<br>
                +420 951 551 316 (Malý)
            </div>
        </div>
        <div class="contacts-row">
            <div class="contacts-row-left">
                <Icon
                    class="h-5 w-5 translate-y-1/4"
                    focusable="false"
                    name="hugeicons:mail-at-sign-01"
                />
            </div>
            <div class="contacts-row-right">
                <Email email="tomas.mancal@matfyz.cuni.cz"/><br>
                <Email email="pavel.maly@matfyz.cuni.cz"/>
            </div>
        </div>
        <div class="contacts-row">
            <div class="contacts-row-left">
                <Icon
                    class="h-6 w-6 translate-y-1/4"
                    focusable="false"
                    name="fluent:fax-16-regular"
                />
            </div>
            <div class="contacts-row-right">
                +420 951 552 797 (Mančal)<br>
                +420 224 922 797 (Malý)
            </div>
        </div>
    </div>
</TitlePageLayout>