---
const { list } = Astro.props;
---

<ul class="list-none">
    {list.map((work) => (
      <li>
        <h3 class="flex gap-x-2"> 
          <div class="w-20 text-right justify-right flex-none">
            {work.pubDate.year["value"]}
          </div>
          <div>
            |
          </div>
          <div class="text-left grow">
            <p><b>{work.title} </b></p>
            <div class="text-sm">
              {work.journal && <p>@{work.journal}</p>}
              {work.doi && <p>DOI:<a href={`https://doi.org/${work.doi}`} class="hover:text-accent hover:underline"> {work.doi} </a></p>}
            </div>
          </div> 
        </h3>
      </li>
    ))}
</ul>
